name: pdaltools
channels:
  - conda-forge
dependencies:
  - python=3.12.*
  - numpy
  - conda-forge:pdal>=2.9.*
  - conda-forge:python-pdal>=3.4
  - requests
  - gdal
  - lastools # for check that lasinfo warnings desapear when standardizing 
  - geopandas
# --------- dev dep --------- #
  - pre-commit # hooks for applying linters on commit
  - black # code formatting
  - isort # import sorting
  - flake8 # code analysis
  - pytest
  - requests-mock
  - twine
  - tqdm
  - pip
  - pip:
    - build # Installed via pip after issues when creating the environment ("build does not exist")
    # Install laspy with laszip laz compression (as laszip is an implementation of the laz 1.4 standard)
    - laspy[lazrs]  # Installed via pip because laszip is not handled by the conda package.